<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	<!-- 
		<File name="MyFile" fileName="logs/runtime.log">
			<PatternLayout
				pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	-->
	
		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n">
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>


	</appenders>

	<loggers>
		<root level="debug">
			<appender-ref ref="Console" level="info" />
			<appender-ref ref="RollingFile" level="debug" />
		</root>
	</loggers>
</configuration>